
table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

.contextMenu{
    position: fixed;
    background-color: white;
}

.contextMenuOption{
    display: block;
    border: solid 1px;
}

#gameCanvas {
    border: 1px solid black;
    display: none;
}
