
table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

.contextMenu{
    position: fixed;
    background-color: white;
}

.disabledContextMenuOption{
    color: #888 !important;
}
.disabledContextMenuOption:hover{
    color: #888 !important;
    background-color: #fff !important;
    cursor: default !important;
}

.contextMenuOption{
    display: block;
    color: black;
    padding: 1px;
    text-decoration: none;
    /* border: solid 1px; */
}

.contextMenuOption:hover{
    background-color: #ddd;
}

.chatBoxContents{
    margin: 3px;
    padding: 0;
    color: #444;
}

.overlay {
    /* Used to put a transparent layer of color over screen */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    visibility: hidden;
}

.minigameCloseButton {
    position: fixed;
    top: 5%;
    right: 5%;
}

.minigameCanvas {
    border: 1px solid black;
    position: absolute;
    top: 30%;
    right: 30%;
    background-color: white;    
}

.endMinigameButton {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 5px;
}

#chatForm{
    margin: 0 0 0 0;
}

#chatBox{
    /* display is set to none by default because
     the element should not be visible on the main page */
    border: 1px solid #444;
    display: none;
    margin-top: 5px;
    width: 35%;
    height: 15%;
    overflow-y: scroll;
}

#gameCanvas {
    border: 1px solid black;
    display: none;
}

#roomLabel {
    color: #666;
    margin: 3px;
    display: none;
}

#battleRequestNotification {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    white-space:pre-wrap;
    left: 40%;
    top: 50%;
    background-color: white;
    position: fixed;
    display: none;
}

#controlsButton {
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
    font-size: 20px;
}

#battleRequestNotificationButtons {
    margin: 5px;
}

canvas, img {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}